.DropDown {
	z-index: 6;

	background-color: transparent;

	cursor: pointer;

	height: 100%;
	width: 100%;

	border: none;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.DropDown:hover {
	opacity: 0.5;
}

.dropdown-list {
	z-index: 5;

	border-bottom: 1px solid var(--full-black);
	border-right: 1px solid var(--full-black);
	border-left: 1px solid var(--full-black);

	border-radius: 0 0 1rem 1rem;

	height: fit-content;

	max-height: 20rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	position: absolute;

	overflow: auto;
}

.dropdown-list > * {
	width: 100%;
	padding: 0.75rem 1rem;
}

.dropdown-list > *:hover {
	background-color: var(--full-black);
	/* cursor: pointer; */
}
