.branding-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.branding-image {
    width: 50%;
    height: auto;

    padding: 5vh 0 0 0;
}

.branding-text-container {
    width: 100%;
    height: min-content;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.branding-text {
    text-align: center;
}

.branding-text:nth-of-type(1) {
    font-size: 200%;
    word-spacing: -2px;
    margin: 0 0 10px 0;
}

.branding-text:nth-of-type(2) {
    font-size: 100%;
    color: #676767;
}

@media (min-width: 767px) {
    .branding-container {
        background-color: rgb(42, 54, 63, 0.9);
        width: 60%;

        padding: 0 0 0 5%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .branding-image {
        width: 30%;
        height: auto;
    }

    .branding-text-container {
        width: 80%;
        height: 100%;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .branding-text {
        width: 100%;
        padding: 0;
        margin: 0;

        font-weight: bolder;
        text-align: left;
    }

    .branding-text:nth-of-type(1) {
        font-size: 300%;
        word-spacing: -5px;
        padding: 0 0 1% 0;
    }

    .branding-text:nth-of-type(2) {
        font-size: 150%;
        color: var(--text-color-dark);
    }
}
