.login-form {
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-input,
.password-input {
    z-index: 3;

    background-color: var(--background-color);
    box-shadow: none;

    height: 3rem;
    width: 12rem;

    padding: 1rem;
    margin: 0 0 1rem 0;

    border-radius: 5px;
    outline: 1px solid grey;
}

.email-input:focus,
.password-input:focus {
    background-color: #354450;
    outline: 0.1rem solid var(--highlight-color);
}

.login-button {
    background-color: var(--highlight-color);

    height: 3rem;
    width: 12rem;

    margin: 1rem 0 0 0;

    border-radius: 5px;
}

.login-button:focus {
    background-color: white;
}

.login-line {
    color: white;
    content: "";
    display: block;
    font-size: large;
}

.login-link {
    color: var(--highlight-color);

    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}

@media (min-width: 767px) {
    .login-form {
        background-color: var(--background-color);
        margin: 0;
        width: 40%;
        height: 100%;
        /* border: 1px solid red; */
    }

    .login-button,
    .email-input,
    .password-input {
        height: 3rem;
        width: 12rem;

        padding: 1rem;
    }

    .email-input:focus,
    .password-input:focus {
        transition: 10s;
        transform: translateX(50rem);
    }

    .login-button:hover {
        transition: 5s;
        transform: translateX(50rem);
    }

    .login-link:hover {
        color: transparent;
    }

    .login-button {
        margin: 1rem 0 0 0;
    }
}
