.TextArea {
	background-color: var(--full-black);
	color: var(--white);

	min-width: 100%;
	min-height: 10rem;

	width: 100%;

	padding: 0.5rem;

	border-radius: 0.5rem;
	border: 1px solid var(--white);

	resize: none;
}

.TextArea:focus {
	outline: 1px solid var(--main-color);
	border: 1px solid var(--main-color);
}

@media screen and (min-width: 675px) {
	.TextArea {
		min-width: 60%;
		min-height: 10rem;
	}
}
