.Logo {
	z-index: inherit;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* overflow: hidden; */
}

.logo-image {
	z-index: inherit;

	min-width: 50px;
	min-height: auto;
	width: 100%;
	height: 100%;
}
