.Forum {
	z-index: inherit;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.forum-create-post {
	width: 100%;

	padding: 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;

	position: relative;
}

#forum-create-button {
	width: 25%;
}

.forum-create-post-float {
	background-color: #00000099;

	width: 100%;
	height: 90vh;

	display: flex;
	flex-direction: column;

	position: absolute;
}

#forum-close-button {
	width: fit-content;
}

.forum-create-post-header {
	width: 100%;

	padding: 5%;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forum-create-post-body {
	width: 100%;

	padding: 0 5%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	flex-grow: 1;

	gap: 5%;
}

.Posts {
	z-index: inherit;

	width: 100%;

	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	gap: 1rem;
}

@media only screen and (min-width: 768px) {
	.Posts {
		width: 100%;

		padding: 0 5%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
}
