.UserPost {
	width: 100%;

	padding: 15px;
}

.userpost-main {
	background-color: var(--full-black);

	border-radius: 5px;

	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.userpost-main-content {
	width: 100%;
}

.userpost-main-header {
	width: 100%;

	box-shadow: inset 50px 50px 10rem rgb(0, 0, 0, 0.1);

	padding: 15px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.userpost-title-text {
	padding: 15px;
}

.userpost-main-text {
	width: 100%;

	padding: 15px;

	inline-size: 100%;
	overflow-wrap: break-word;

	grid-area: userPostMainText;
}

.userpost-reply-container {
	width: 100%;

	padding: 1rem;

	display: flex;
	flex-direction: column;

	gap: 1rem;
}

.userpost-main-input {
	padding: 1rem;

	box-shadow: inset 50px 50px 10rem rgb(0, 0, 0, 0.1);

	grid-area: userPostMainInput;
}

.userpost-main-votes {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.userpost-comment-container {
	height: fit-content;
}
