.ProfileImage {
	background-color: var(--white);

	min-width: 2rem;
	min-height: 2rem;

	height: 2rem;
	width: 2rem;

	overflow: hidden;

	border-radius: 5rem;
}

.profile-image {
	height: 2rem;
	width: 2rem;

	object-fit: cover;
}
