.searchbar-container {
	width: 100%;
	flex-grow: 3;
	display: none;
	flex-direction: row;
	justify-content: flex-start;
}

#searchbar-input {
	width: min-content;
	height: fit-content;
	opacity: 0.3;
}

#searchbar-input:focus {
	width: 100%;

	animation: longate 1s;

	opacity: 1;
}

#searchbar-input:focus > .searchbar-container {
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.searchbar-container {
		display: flex;
	}
	#searchbar-input {
		display: flex;
	}
}

@keyframes longate {
	0% {
		width: 30%;
		opacity: 0.3;
	}

	100% {
		width: 100%;
		opacity: 1;
	}
}
