.posts-header {
    z-index: inherit;

    background-color: var(--black);

    padding: 15px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#postsheader-input {
    width: 70%;
}

@media screen and (min-width: 768px) {
    .posts-header {
        justify-content: space-around;
    }

    #postsheader-input {
        width: 85%;
    }
}
