:root {
	--main-color: #3b4166;
	--error-color: #c62828;
	--full-black: #0f0f0d;
	--full-black-90: #0f0f0de6;
	--full-black-75: #0f0f0dbf;
	--full-black-50: #0f0f0d80;
	--full-black-25: #0f0f0d40;
	--full-black-10: #0f0f0d1a;
	--black: #161719;
	--black-90: #161719e6;
	--black-75: #5c6061bf;
	--black-50: #93959680;
	--black-25: #c8c9ca40;
	--black-10: #dfdfdf1a;
	--white: #f4f4f4;
	--white-bright: #ffffff;
	--half-portal-bg: url("./img/BlackStalin_short.jpg");
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.error-message {
	min-height: 1rem;
	color: var(--error-color);
}

.bg-blur {
	background-color: #00000080;
}

.bg-light {
	background-color: var(--white);
}

.bg-darg {
	background-color: var(--black);
}

.round {
	border-radius: 1rem;
}

.pad {
	padding: 0.5rem;
}
